/* index.css */
/* Styles de base */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }
    
body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: $colour-primary;
  background: $colour-secondary;
}
img {
  max-width: 100%; 
 }


 h1 {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}

h3 {
 font-size : 2.5em;
}