/* index.css */
/* Styles de base */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }
   
//e6f2ff 333
body {
  box-sizing: border-box;
  font-family: 'Bitter', serif;
  background-color:#ffe6e6 ;
  color: rgb(240, 10, 10); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position: relative;
}
img {
  max-width: 100%; 
 }


 h1 {
  margin-bottom: 40px;
}
h3 {
 font-size : 2.5em;
}