/* index.css */
/* Styles de base */
body {
  font-family: 'Bitter', serif;
  background-color: #e6f2ff;
  color: #333; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position: relative;
}

/* Titres */
h1 {
  margin-bottom: 40px;
}
h3 {
 font-size : 2.5em;
}

/* Images */ 
.carousel-inner > .item > img{
  margin:auto;
  width:100%
}

img {
 max-width: 100%; 
}

/* Jumbotron */
.jumbotron {
  margin-top: 40px;
  background: rgba(255, 255, 255, 0.5);
}
.jumbotron img {
  padding-bottom: 20px;        
}

/* Footer */
footer.row {
  margin: 20px 0 40px 0;
}

#seb {
 color : #e6f2ff;
 font-size : 2.5em;
}