.project {
    width: 100%;
    background-color: red($color: #000000);
    margin-bottom: $grid-gutter*1.2;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 1fr;
    grid-gap: $grid-gutter;
    grid-template-areas: 
    "image synopsis"
    "tags synopsis";
    &__image {
      grid-area: image;
        &--slide{
          @include img-ratio;
            display: none;
        }
    }
    &__synopsis {
        grid-area: synopsis;
        padding-left: $grid-gutter;
        & h1 {
            color: $colour-white;
            @include heading-shadow;
        }
        & p {
            line-height: 1.6rem;
            color : $colour-white;
        }
    }
    &__tags {
        grid-area: tags;
        font-size: 2rem;
        & p {
            color: $colour-white;
            & strong {
                color: $colour-primary;
                font-weight: 900;
                font-style: italic;
            }
        }
    }
}

.prev, .next {
    cursor: pointer;
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  /* Position the "next button" to the right */
  .next {
  font-size: 30px;
  float:right;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #e61515;
    font-size: 20px;
    padding: 8px 12px 8px 12px;
    position:absolute;
    z-index: 3;
    top: 0;
    font-weight: bold;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @media only screen and (max-width : 500px){
    .project {
      grid-template-columns: 1fr;
      grid-template-rows: 2fr;
      grid-template-areas: 
      "image"
      "synopsis";
      &__tags {
          display:none;
    }  
    }
   .containerBalustrade{
     margin:0;
   } 
  }  
  