$colour-primary: rgb(97, 152, 233);
$colour-secondary: #001534;
$colour-accent: rgb(206, 213, 228);
$colour-white: #fff;
$colour-invalid: #DB464B;
$heading-shadow-size: .30rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * .25;